@charset "UTF-8";

/*
  Em HTML é id    = em CSS é # (só pode um elemento)
  Em HTML é class = em CSS é . (pode vários elementos)
*/

body{
    background-color: #D6D58E;
}

h1{ color: #033751;
}

h1#principal{
    text-align: center;
    background-color:#99b53d91;
    color:#005C53;
}

h2{
    color:#146551;
}

.basico{
    color:#41b7a6;
}

.intermediario{
    color: #589A8D;
}

.avancado{
    color: #007566;
}